<div class="container">
	<h1>Current Listing</h1>

	<h3><%= @listing.address %></h3>
	<h3><%= @listing.date %></h3>
	<h3><%= @listing.listing_id %></h3>
	<h3><%= @listing.listing_title %></h3>
	<h3><%= @listing.price %></h3>
	<h3><%= @listing.bedrooms %></h3>
	<h3><%= @listing.square_ft %></h3>
	<h3><%= @listing.city %></h3>
</div>



