<div class="container">
    <div class="filter">
        <%= form_tag root_path, method: :get do %>
            <%= label_tag :bedrooms %>
            <%= text_field_tag :bedrooms, params["bedrooms"] %>

            <%= label_tag :state %>
            <%= text_field_tag :state, params["state"] %>

            <%= label_tag :price %>
            <%= text_field_tag :price, params["price"] %>

            <%= submit_tag "Search", name: nil %>
        <% end %>

    	<div class="row">
    		<div class="listing-box col-md-4">
    			<% @listings.each do |listing| %> 
                    <table class="table table-hover table-condensed">
                        <strong><%= number_to_currency(listing.price, precision: 0) %></strong> on 
                        <strong><%= listing.date %></strong>
                        <br>
                        <%= listing.address %>
                        <br>
                        <%= listing.bedrooms %> bdrms | 
                        <%= listing.square_ft %> sq_ft | 
                        <%= listing.city %> |
                        <%= listing.state %> 
                    </table>   
                <% end %>
    		</div>
    	</div>
    </div>
    <%= will_paginate @listings, renderer: BootstrapPagination::Rails %>
</div>