<!DOCTYPE html>
<html>
<head>
	<title>what-up-homes</title>
	<meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- mapbox -->
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  	
</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-inverse">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <p class="navbar-brand logo">What Up Homes!</p>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<form class="navbar-form navbar-left" role="search">
		        <div class="form-group">
					<div class="dropdown navbar-left">
					  <button class="btn btn-default dropdown-toggle" type="button" id="selectCity" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    City
					    <span class="caret"></span>	
					  </button>
					</div>
					<div class="dropdown navbar-left">
					  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    Bedrooms
					    <span class="caret"></span>
					  </button>

					      
					  <ul class="dropdown-menu" aria-labelledby="bedrooms">
					  	<%= form_tag root_path, method: :get do %>

					    <li><%= text_field_tag :bedrooms, params["bedrooms"] %></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					     <% end %>
					</div>
					<div class="dropdown navbar-left">
					  <button class="btn btn-default dropdown-toggle" type="button" id="toDate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    To Date
					    <span class="caret"></span>
					  </button>
					</div>
		        </div>
		    </form>
	      <ul class="nav navbar-nav navbar-right">
		    <%= link_to "Login", login_path, {
					class: "btn btn-lg"
					} %>

			<%= link_to "Sign Up", new_user_path, {
					class: "btn btn-lg"
					} %>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<%= yield %>

	<script async 
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW9xRi3Y7Hnymif3joCBuFQXyQ5offBaA&callback=initMap"></script>
		
</body>
</html>